@model ASP_Web_test.Models.Students

<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "Details";
}

<h2>Shopping List</h2>
<div>

    <table>
        <tr>
            <th width="100px">Name</th>
            <th width="70px" >Quantity</th>
            <th width="50px"></th>
            <th width="50px"></th>
        </tr>
        @foreach (Student s in Model.students)
        {
         <tr>
            <td>@Html.DisplayFor(model => s.Name)</td>
            <td>@Html.DisplayFor(model => s.Quantity)</td>
            <td>@Html.ActionLink("Delete", "Delete", new { name = s.Name })</td>
            <td> @Html.ActionLink("Edit", "Edit", new { name = s.Name})</td>
        </tr>
        }
    </table>
    <br />
    <td> @Html.ActionLink("Save shopping list", "Save", new {list = Model.students})</td>
</div>
