@model ASP_Web_test.Models.Students

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<h4>Students</h4>
<div>

    @foreach (Student s in Model.students)
    {
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => s.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => s.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => s.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => s.Quantity)
            </dd>
            @Html.ActionLink("Delete", "Delete", new { id = s.ID}) |
            @Html.ActionLink("Edit", "Edit", new { id = s.ID }) |
        </dl>
    }
</div>
